<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.mall.dao.port.CustomerInfDao">
    <sql id="customerLoginParams">
        customer_id, customer_name, customer_gender, customer_card, customer_phone, customer_email, customer_region
    </sql>

    <select id="getAll" resultType="com.nf.mall.entity.CustomerInfEntity">
        select
        customer_inf_id, <include refid="customerLoginParams"/>
        from customer_inf
    </select>
    <select id="getCount" resultType="integer">
        select count(*) from customer_inf
    </select>
</mapper>