<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.mall.dao.port.CustomerLoginDao">
    <sql id="customerLoginParams">
        login_account, login_name, login_password, activate_code
    </sql>

    <select id="getAll" resultType="com.nf.mall.entity.CustomerLoginEntity">
        select
            customer_id, <include refid="customerLoginParams"/>, user_stats
        from customer_login
    </select>
    <select id="verifyAndById" resultType="Integer">
        select
            customer_id
        from customer_login where login_account = #{loginAccount} and login_password = #{loginPassword}
    </select>
    <!--
        下面是注册的相关语句
        LAST_INSERT_ID() ： 获取到当前事务中最后添加数据的id
    -->
    <insert id="register">
        insert into
            customer_login(<include refid="customerLoginParams"/>)
        values(#{loginEntity.loginAccount},#{loginEntity.loginName},#{loginEntity.loginPassword},#{loginEntity.activateCode})
        ;
        insert into
            customer_inf(customer_id, customer_phone, customer_email)
        values(LAST_INSERT_ID(), #{infEntity.customerPhone},#{infEntity.customerEmail})
    </insert>

    <!--修改账号状态-->
    <update id="activate">
        update customer_login set user_stats = 1 where activate_code = #{code}
    </update>
</mapper>