<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.mall.dao.port.ProductInfDao">
    <sql id="proinfParams">
        proinf.brand_id,
        proinf.category_id,
        proinf.hot_sale,
        proinf.sidebar_category_id,
        proinf.product_name,
        proinf.product_describe,
        proinf.product_price,
        proinf.product_sales,
        proinf.product_status
    </sql>

    <sql id="ProductInfSQL">
        brand_id,
        category_id,
        hot_sale,
        sidebar_category_id,
        product_name,
        product_describe,
        product_price,
        product_sales,
        product_status
    </sql>

    <resultMap id="productInfResultMap" type="com.nf.mall.entity.ProductInfEntity">
        <result property="pictureInfUrl" column="picUrl"/>
        <result property="productNum" column="productNum"/>
    </resultMap>

    <select id="getAll" resultType="com.nf.mall.entity.ProductInfEntity">
        select
        product_id, <include refid="ProductInfSQL"/>
        from product_inf
    </select>

    <select id="getById" resultMap="productInfResultMap">
        select
        product_id, <include refid="ProductInfSQL"/>
        from product_inf
        where product_id = #{id}
    </select>


    <select id="getCategorySale" resultMap="productInfResultMap">
        select
        picinf.picture_inf_url as picUrl, proinf.product_id, <include refid="proinfParams"/>
        from picture_inf picinf join product_inf proinf
        on picinf.product_inf_id = proinf.product_id
        where picinf.picture_type_id = #{picTypeId} and proinf.category_id = #{proCategoryId}
    </select>

    <select id="getHotProduct" resultMap="productInfResultMap">
        select
        picinf.picture_inf_url as picUrl, proinf.product_id, <include refid="proinfParams"/>
        from product_inf proinf join picture_inf picinf
        on proinf.product_id = picinf.product_id
        where proinf.hot_sale = 1 and picinf.picture_type_id = 3
    </select>

    <select id="getBySidebarCategoryId" resultMap="productInfResultMap">
        select
        picinf.picture_inf_url as picUrl, proinf.product_id, <include refid="proinfParams"/>
        from product_inf proinf join picture_inf picinf
        on proinf.product_id = picinf.product_id
        where sidebar_category_id = #{sidebarCategoryId} and picinf.picture_type_id = 4
    </select>
</mapper>