<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.mall.dao.port.ProductCartDao">
    <sql id="productCartParams">
        procat.customer_inf_id, procat.product_id, procat.product_cart_num, procat.add_time
    </sql>
    <resultMap id="productCartResultMap" type="com.nf.mall.entity.ProductCartEntity">
        <result property="brandId" column="brandId"/>
        <result property="brandName" column="brandName"/>
        <result property="productName" column="productName"/>
        <result property="productPrice" column="productPrice"/>
        <result property="productDescribe" column="productDescribe"/>
        <result property="pictureInfUrl" column="pictureInfUrl"/>
    </resultMap>
    <select id="getById" resultMap="productCartResultMap">
        select procat.product_cart_id, <include refid="productCartParams"/>,
        proinf.brand_id as brandId,
        brainf.brand_name as brandName,
        picinf.picture_inf_url as pictureInfUrl,
        proinf.product_name as productName,
        proinf.product_describe as productDescribe,
        proinf.product_price as productPrice
        from product_cart procat join product_inf proinf
        on procat.product_id = proinf.product_id
        join brand_inf brainf
        on proinf.brand_id = brainf.brand_id
        right join picture_inf picinf
        on picinf.product_id = procat.product_id
        where procat.customer_inf_id = #{customerInfId} and picinf.picture_type_id = 4
    </select>

    <update id="productCartUpdate">
        update product_cart
        set product_cart_num = #{productCartEntity.productCartNum}
        where product_id = #{productCartEntity.productId}
    </update>
</mapper>